<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parsons.mapper.TopicMapper">
    <!-- SQL statements go here -->
    <select id="selectAllTopics" resultType="com.parsons.pojo.Topic">
        SELECT * FROM topic
    </select>
    <select id="selectContextsByTopic" resultType="com.parsons.pojo.Context">
        SELECT * FROM contexts WHERE topic_Title = #{topicTitle}
    </select>
    <select id="selectTopicByTitle" resultType="com.parsons.pojo.Context">
        SELECT * FROM contexts WHERE topic_Title = #{topicTitle}
    </select>
    <select id="numberOfTrueContexts" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM user_data
        WHERE contexts = #{context}
          AND ip_address = #{ip}
          AND correctness = 1;
    </select>


</mapper>
